*{
    margin:0;
    padding: 0;
color: WHITE;
font-family: 'Gilroy';
}

html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width:100%;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}

#cursor{
    height:30px;
    width:30px;
    mix-blend-mode: difference;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
}
h1{
    font-weight: 900;
    font-size: 9vw;
}